*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Begum';
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url('https://ucarecdn.com/98998071-e39e-4bea-973c-187f4d9cc6a0/begumbold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src: url('/fonts/sofia-pro-light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url('/fonts/sofia-pro-light-webfont.woff2') format('woff2');
}

:root {
  /* --color-type-normal: ;
  --color-type-fighting: ;
  --color-type-flying: ;
  --color-type-poison: ;
  --color-type-ground: ;
  --color-type-rock: ;
  --color-type-bug: ;
  --color-type-ghost: ;
  --color-type-steel: ;
  --color-type-fire: ;
  --color-type-water: ;
  --color-type-grass: ;
  --color-type-electric: ;
  --color-type-psychic: ;
  --color-type-ice: ;
  --color-type-dragon: ;
  --color-type-dark: ;
  --color-type-fairy: ;
  --color-type-unknown: ;
  --color-type-shadow: ; */
  --color-primary-300: #cbe8e0;
  --color-primary-400: #a8d6ce;
  --color-primary-500: #82c3b9;
  --color-primary-600: #65b2a9;
  --color-primary-700: #00887b;
  --color-primary-800: #04726b;
  --color-gold-100: #f6eed3;
  --color-gold-200: #efe3bc;
  --color-gold-300: #ebdba8;
  --color-gold-400: #e8d188;
  --color-gold-500: #dfc46c;
  --color-gold-600: #cfb04e;
  --color-gold-700: #c2a74f;
  --color-gold-800: #b79d48;
  --color-mono-100: #ffffff;
  --color-mono-200: #f3f3f1;
  --color-mono-250: #ebebeb;
  --color-mono-300: #e6e6e6;
  --color-mono-400: #c3c3c3;
  --color-mono-500: #898989;
  --color-mono-600: #4f4f4f;
  --color-mono-700: #191919;
  --color-mono-800: #000000;
  --color-red-500: #c95c5c;
  --color-brown-500: #f0e9df;
  --color-blue-300: #dee4ee;
  --color-pink-300: #eedae5;
  --color-green-300: #eff4f0;
  --shadow-200: 0px 1px 4px rgba(0, 0, 0, 0.15);
  --shadow-400: 0px 2px 8px rgba(0, 0, 0, 0.1);
  --shadow-800: 0px 2px 25px rgba(0, 0, 0, 0.1);
  --border-radius-0: 0;
  --border-radius-200: 10px;
  --border-radius-600: 50px;
  --border-radius-800: 100%;
  --space-50: 5px;
  --space-100: 10px;
  --space-150: 15px;
  --space-200: 20px;
  --space-300: 30px;
  --space-400: clamp(20px, 1vw + 16px, 30px);
  --space-500: 50px;
  --space-600: 60px;
  --space-700: 70px;
  --space-800: clamp(2.5rem, 5vw + 1rem, 5rem);
  --easing-500: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --font-800: normal normal 700 clamp(1.8rem, calc(2vw + 0.75rem), 2.125rem) /
    1.1 var(--font-800-family);
  --font-800-family: 'Begum', 'Georgia', serif;
  --font-800-weight: 700;
  --font-800-size: clamp(1.8rem, calc(2vw + 0.75rem), 2.125rem);
  --font-800-line-height: 1.1;
  --font-800-letter-spacing: -0.25px;
  --font-800-style: normal;
  --font-800-variant: normal;

  --font-750: normal normal 700 clamp(1.25rem, calc(2vw + 0.5rem), 1.5rem) /
    normal var(--font-750-family);
  --font-750-family: 'Begum', 'Georgia', serif;
  --font-750-weight: 700;
  --font-750-size: clamp(1.25rem, calc(2vw + 0.5rem), 1.5rem);
  --font-750-line-height: normal;
  --font-750-letter-spacing: -0.25px;
  --font-750-style: normal;
  --font-750-variant: normal;

  --font-700: normal normal 700 clamp(1rem, calc(2vw + 0.25rem), 1.25rem) /
    normal var(--font-700-family);
  --font-700-family: 'Begum', 'Georgia', serif;
  --font-700-weight: 700;
  --font-700-size: clamp(1rem, calc(2vw + 0.25rem), 1.25rem);
  --font-700-line-height: normal;
  --font-700-letter-spacing: 0;
  --font-700-style: normal;
  --font-700-variant: normal;

  --font-650: normal normal 700 clamp(1.063rem, calc(1vw + 0.75rem), 1.125rem) /
    normal var(--font-650-family);
  --font-650-family: 'Begum', 'Georgia', serif;
  --font-650-weight: 700;
  --font-650-size: clamp(1.063rem, calc(1vw + 0.75rem), 1.125rem);
  --font-650-line-height: normal;
  --font-650-letter-spacing: 0;
  --font-650-style: normal;
  --font-650-variant: normal;

  --font-600: normal normal 700 clamp(0.875rem, calc(1vw + 0.5rem), 1rem) /
    normal var(--font-600-family);
  --font-600-family: 'Begum', 'Georgia', serif;
  --font-600-weight: 700;
  --font-600-size: clamp(0.875rem, calc(1vw + 0.5rem), 1rem);
  --font-600-line-height: normal;
  --font-600-letter-spacing: 0;
  --font-600-style: normal;
  --font-600-variant: normal;

  --font-550: normal normal 300 clamp(0.875rem, calc(1vw + 0.5rem), 1rem) /
    normal var(--font-550-family);
  --font-550-family: 'Sofia Pro', sans-serif;
  --font-550-weight: 300;
  --font-550-size: clamp(0.875rem, calc(1vw + 0.5rem), 1rem);
  --font-550-line-height: normal;
  --font-550-letter-spacing: 3.2px;
  --font-550-style: normal;
  --font-550-variant: normal;

  --font-525: normal normal 700 clamp(0.813rem, calc(1vw + 0.5rem), 0.875rem) /
    normal var(--font-525-family);
  --font-525-family: 'Begum', 'Georgia', serif;
  --font-525-weight: 700;
  --font-525-size: clamp(0.813rem, calc(1vw + 0.5rem), 0.875rem);
  --font-525-line-height: normal;
  --font-525-letter-spacing: 0;
  --font-525-style: normal;
  --font-525-variant: normal;

  --font-500: normal normal 400 clamp(1rem, calc(2vw + 0.25rem), 1.125rem) / 1.5
    var(--font-500-family);
  --font-500-family: 'Sofia Pro', sans-serif;
  --font-500-weight: 400;
  --font-500-size: clamp(1rem, calc(2vw + 0.25rem), 1.125rem);
  --font-500-line-height: 1.5;
  --font-500-letter-spacing: 0;
  --font-500-style: normal;
  --font-500-variant: normal;

  --font-400: normal normal 400 clamp(0.938rem, calc(1vw + 0.5rem), 1rem) / 1.5
    var(--font-400-family);
  --font-400-family: 'Sofia Pro', sans-serif;
  --font-400-weight: 400;
  --font-400-size: clamp(0.938rem, calc(1vw + 0.5rem), 1rem);
  --font-400-line-height: 1.5;
  --font-400-letter-spacing: 0;
  --font-400-style: normal;
  --font-400-variant: normal;

  --font-300: normal normal 400 clamp(0.813rem, calc(1vw + 0.5rem), 0.875rem) /
    1.5 var(--font-300-family);
  --font-300-family: 'Sofia Pro', sans-serif;
  --font-300-weight: 400;
  --font-300-size: clamp(0.813rem, calc(1vw + 0.5rem), 0.875rem);
  --font-300-line-height: 1.5;
  --font-300-letter-spacing: 0;
  --font-300-style: normal;
  --font-300-variant: normal;

  --font-200: normal normal 300 clamp(0.875rem, calc(1vw + 0.5rem), 1rem) / 1.5
    var(--font-200-family);
  --font-200: normal normal 300 clamp(0.775rem, calc(1vw + 0.5rem), 0.938rem) /
    1.5 var(--font-200-family);
  --font-200-family: 'Sofia Pro', sans-serif;
  --font-200-weight: 300;
  --font-200-size: clamp(0.875rem, calc(1vw + 0.5rem), 1rem);
  --font-200-line-height: 1.5;
  --font-200-letter-spacing: 0;
  --font-200-style: normal;
  --font-200-variant: normal;

  --font-100: normal normal 300 clamp(0.813rem, calc(1vw + 0.5rem), 0.875rem) /
    1.5 var(--font-100-family);
  --font-100-family: 'Sofia Pro', sans-serif;
  --font-100-weight: 300;
  --font-100-size: clamp(0.813rem, calc(1vw + 0.5rem), 0.875rem);
  --font-100-line-height: 1.5;
  --font-100-letter-spacing: 0;
  --font-100-style: normal;
  --font-100-variant: normal;

  --font-50: normal normal 300 clamp(0.625rem, calc(1vw + 0.25rem), 0.75rem) /
    1.5 var(--font-50-family);
  --font-50-family: 'Sofia Pro', sans-serif;
  --font-50-weight: 300;
  --font-50-size: clamp(0.625rem, calc(1vw + 0.25rem), 0.75rem);
  --font-50-line-height: 1.5;
  --font-50-letter-spacing: 0;
  --font-50-style: normal;
  --font-50-variant: normal;
}

html[daisy-mode='dark'] {
  --color-mono-800: #dfdfdf;
  --color-mono-700: #f3f3f1;
  --color-mono-250: #ebebeb;
  --color-mono-600: #e6e6e6;
  --color-mono-500: #c3c3c3;
  --color-mono-400: #898989;
  --color-mono-300: #4f4f4f;
  --color-mono-200: #292929;
  --color-mono-100: #191919;

  --shadow-200: none;
  --shadow-400: none;
  --shadow-800: none;
}
